<section class="container mx-auto mb-28" id="Contact">
    <h1 class="flex justify-center items-center">Me Contacter</h1>
    <div class="flex flex-col lg:flex-row md:flex-row items-center lg:justify-between md:justify-between m-5 gap-2">
        <div class="flex flex-row gap-2 ">
            <i class="ri-mail-fill text-2xl"></i>
            <p class="hover:text-blue-600">{{v}}</p>
        </div>
        <div class="flex flex-row gap-2">
            <i class="ri-phone-fill text-2xl"></i>
            <p class="hover:text-blue-600">+213 5 40 82 26 58</p>
        </div>
    </div>
</section>