<section class="container mx-auto mb-20">
    <h1 class="flex justify-center items-center">Me Contacter</h1>
    <div class="grid grid-cols-2 m-10 gap-5">
        <div class="flex flex-row gap-2 lg:justify-center">
            <i class="ri-mail-fill text-2xl"></i>
            <p class="hover:text-blue-600">{{v}}</p>
        </div>
        <div class="flex flex-row gap-2 justify-end lg:justify-center">
            <i class="ri-phone-fill text-2xl"></i>
            <p class="hover:text-blue-600">+213 5 40 82 26 58</p>
        </div>
    </div>
</section>