<header class=" fixed top-0 bg-white w-full ">
<div class="container mx-auto flex flex-row justify-between p-5">
  <h1 class="">Ibrahima Soly Coulibaly</h1> 
  <nav class="">
  <div class="flex items-end lg:hidden cursor-pointer" (click)="toggleNav()">
      <i class="ri-menu-line text-3xl"></i>
  </div>
  <ul [ngClass]="{'left-60': !isNavOpen, 'left-0': isNavOpen}" class="fixed w-full flex flex-col lg:relative left-60 lg:left-0
  right-0 items-end gap-5 lg:items-start  lg:transition-none  lg:gap-10 lg:flex-row lg:p-0 pr-10 pt-5 lg:pt-0 lg:pr-0 transition-all duration-500">
      <li><a class="text-xl" routerLink="/home" routerLinkActive="active"(click)="toggleNav()" >Acceuil</a></li>
      <li><a class="text-xl" href="#apropos" (click)="toggleNav()" >À propos</a></li>
      <li><a class="text-xl" href="#compétences" (click)="toggleNav()" >Compétences</a></li>
      <li><a class="text-xl" href="#project" (click)="toggleNav()" >Projets</a></li>
      <li><a class="text-xl" href="#Contact" (click)="toggleNav()" >Contact</a></li>
  </ul>
  </nav> 
</div>
</header>

