<section class="m-5">
    <div class="flex flex-col">
        <div class="flex flex-col items-center">
            <p class=" text-text-secondary">En savoir plus</p>
            <h1>À  propos de moi</h1>
        </div>
        <div class="flex flex-row  gap-10 m-10 justify-center">
            <div class="flex flex-col items-center sm:w-full lg:w-full
              border-2 border-black rounded-2xl p-5">
                <span><i class="ri-medal-line text-2xl"></i></span>
                <h2>Experience</h2>
                <p class="text-text-secondary">Developprement frelance</p>
            </div>
            <div class="flex flex-col items-center  sm:w-full lg:w-full
              border-2 border-black rounded-2xl p-5">
                <span><i class="ri-graduation-cap-fill text-2xl"></i></span>
                <h2>Education</h2>
                <p class="text-text-secondary">Master 2 en ingénierie logicies</p>
            </div>
        </div>
        <span class="text-justify">
            Ingénieur logiciel passionné par le développement d'applications complètes (frontend et backend), avec de solides compétences en JavaScript, HTML, CSS, Tailwind, Bootstrap, et Angular pour le frontend, ainsi
            qu'en Java, Python, Spring, Flask, FastAPI pour le backend. Intéressé par l'intelligence artificielle et la data science, je maîtrise également la gestion des bases de données (MySQL, Oracle, MongoDB) et les outils de déploiement (Docker, GitHub Actions, AWS). Actuellement, je suis motivé à approfondir mes connaissances en Kubernetes pour créer des solutions plus robustes et évolutives.
        </span>
    </div>
</section>
