<div class="container mx-auto  w-full my-24">
    <div class="flex flex-col items-center">
        <h1>Bus Transport</h1>
        <span class="flex text-justify mt-2 lg:text-lg">
            Est une application qui améliore considérablement la réservation de billets de bus au Mali en évitant le besoin de se rendre physiquement en agence. Les utilisateurs peuvent réserver leurs billets et payer en ligne directement depuis leur téléphone, recevant un ticket numérique avec un QR code pour vérifier la validité à l’arrivée. Cela réduit les temps d'attente, simplifie les déplacements, et garantit des transactions sécurisées. En facilitant l'accès aux services de transport, cette solution optimise l'efficacité des voyages interrégionaux au Mali tout en assurant une sécurité maximale.</span>
    </div>
    <div class="relative z-0">
      <div class="swiper">
        <div class="swiper-wrapper">
          @for (project of projects; track project.id) {
            <div class="swiper-slide">
              <div class="rounded-xl border-2 m-5 shadow-lg hover:-translate-y-10 duration-300" [style.transform]="'translateX(-' + currentIndex*118  + '%)'">
                <div class=" w-full">
                  <a  class="" (click)="openModal(project.image)">
                    <img class="object-fill hover:brightness-50" [src]="project.image" alt="">
                  </a>
                </div>
                <h2 class="p-2">  {{project.explication}} </h2>
              </div>
              <h2></h2>
            </div>
          }
         </div>
         <div class="flex justify-center  gap-5">
           <button class="rounded-full border-2 border-black hover:bg-black hover:text-white   h-10"(click)="prevImage()"> <i class="ri-arrow-drop-left-line text-4xl"></i> </button>
           <button class="rounded-full border-2 border-black hover:bg-black hover:text-white  h-10" (click)="nextImage()"> <i class="ri-arrow-drop-right-line text-4xl"></i></button>
        </div>
       </div>
    </div>
   @if (isModalOpen) {
    <div  class=" fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" (click)="closeModal()">
      <div class="m-10 lg:m-auto  md:m-20" (click)="$event.stopPropagation()">
        <img [src]="modalImage" alt="Image en pleine taille" class=" w-auto  h-auto lg:h-[700px] md:h-[800px]">
      </div>
  </div>
  }
  <div class="mt-10">
    <h2 class="flex items-start text-2xl">Technologies utilisées</h2>
    <ul class="list-disc ml-7 flex flex-col gap-2">
      @for (langage of langages; track langage.id) {
        <li><span class="lg:text-xl text-lg "> {{langage.technologies}} </span></li>
      }
    </ul>
  </div>
  <div class="mt-10">
    <h2 class="flex items-start text-2xl">Fonctionnalités principales</h2>
    <ul class="list-disc ml-7 flex flex-col gap-2">
      @for (fonction of fonctions; track fonction.id) {
        <li>
          <p class="font-primary text-lg font-bold">
            {{fonction.title}}:
             <span class="text-lg font-normal">
              {{fonction.technologies}}
             </span>
          </p>
        </li>
      }
    </ul>
  </div>
  <div class="flex flex-row gap-2 mt-10">
    <button class="border-2 border-black rounded-full max-w-56 p-4 font-secondary">Voir sur GitHub</button>
    <button class="border-2 border-black rounded-full max-w-56 p-4 font-secondary">Démo</button>
  </div>
  <div class="mt-10 w-full border-2 rounded-lg shadow-sm ">
    <div class="absolute  w-2 h-[195px] lg:h-[129px] sm:h-[125px] rounded-l-lg bg-red-600"></div>
    <h1 class="text-red-600 ml-5 m-2">Note:</h1>
    <ul class="list-disc ml-10 gap-2 p-2">
      <li>Une présentation vidéo sera disponible prochainement en cliquant sur ce bouton. <a href="#" class=" hover:text-blue-800 text-center"><i class="ri-markdown-fill text-2xl"></i></a></li>
      <li>Le projet sera prochainement publié sur GitHub avec une démo.</li>
    </ul>
  </div>
  <!-- <div class="h-[3000px]"></div> -->
</div>
